HyperFLINT/dist/**/*.dylib filter=lfs diff=lfs merge=lfs -text
HyperFLINT/dist/**/hyperflint filter=lfs diff=lfs merge=lfs -text
HyperFLINT/third_party/**/*.a filter=lfs diff=lfs merge=lfs -text
HyperFLINT/third_party/*.tar.gz filter=lfs diff=lfs merge=lfs -text
